<div class="container" style="height: 70vh;">
  <form class="my-5" method="post" action="/crud/addMany">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Full Name</label>
      <input type="text" name="name" id="nameField" class="form-control" id="exampleInputEmail1"
        aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Roll</label>
      <input type="number" name="roll" id="rollField" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Grade</label>
      <input type="name" name="grade" id="gradeField" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
  </form>


</div>