<%- include('./navbar')%>
    <form action="/userlogin/logedIn" method="post">
        <div class="mb-3 container">
            <label for="exampleInputEmail1" class="form-label">Enter Username</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3 container">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 container">
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
    </form>
    <%- include('./footer')%>;